body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(aw.jpg);
    background-size: cover;
}

.box{
    width: 300px;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.4);
    text-align: center;
}

.box h1{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    
}

.glow {
  font-size: 50px;
  color: white;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
  }
}


.box input[type="text"],.box input[type="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid violet;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 270px;
    border-color: white;
}

.box input[type="submit"]{
     border: 0;
    background: none;
    display: block;  
    margin: 20px auto;
    text-align: center;
    border: 3px solid white;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: rgba(0,0,0,0.4);
}

